@font-face {
  font-family: "Minecraft";
  src: url("fonts/Minecraftia-Regular.ttf") format("truetype");
}

.counter {
  margin-top: 12px;
  font-family: "Minecraft", monospace;
  font-size: 36px;
  color: white;
  letter-spacing: px;
  text-shadow: 
    1px 1px 0 #000,
    2px 2px 0 #000;
  opacity: 0.85;
  user-select: none;
  transform: translateY(-120px);
}